*.ipch
*.suo
*.user
*.sdf
*.opensdf
*.exe

log.txt
readLog.txt
writeLog.txt
queue_test

readerwriterqueue/benchmarks
readerwriterqueue/tests

readerwriterqueue/tests/stabtest/msvc10/Debug/
readerwriterqueue/tests/stabtest/msvc10/Release/
readerwriterqueue/tests/stabtest/msvc10/obj/
readerwriterqueue/tests/stabtest/msvc10/log.txt
readerwriterqueue/tests/stabtest/msvc12/Debug/
readerwriterqueue/tests/stabtest/msvc12/Release/
readerwriterqueue/tests/stabtest/msvc12/obj/
readerwriterqueue/tests/stabtest/msvc12/log.txt
readerwriterqueue/tests/stabtest/log.txt
readerwriterqueue/tests/unittests/msvc10/Debug/
readerwriterqueue/tests/unittests/msvc10/Release/
readerwriterqueue/tests/unittests/msvc10/obj/
readerwriterqueue/tests/unittests/msvc12/Debug/
readerwriterqueue/tests/unittests/msvc12/Release/
readerwriterqueue/tests/unittests/msvc12/obj/
readerwriterqueue/tests/CDSChecker/model-checker/
readerwriterqueue/benchmarks/msvc10/Debug/
readerwriterqueue/benchmarks/msvc10/Release/
readerwriterqueue/benchmarks/msvc10/obj/
readerwriterqueue/benchmarks/msvc12/Debug/
readerwriterqueue/benchmarks/msvc12/Release/
readerwriterqueue/benchmarks/msvc12/obj/
readerwriterqueue/test/
readerwriterqueue/# Linux binaries
readerwriterqueue/benchmarks/benchmarks
readerwriterqueue/tests/stabtest/stabtest
readerwriterqueue/tests/unittests/unittests
